html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#view {
	width: 80%;
	height: 100%;
	float: left;
	overflow: auto;
}

#save {
	width: 20%;
	height: 10%;
	float: left;
	overflow: hidden;
}

#index {
	width: 20%;
	height: 10%;
	float: left;
	overflow: hidden;
}