html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Calibri;
}

#image{
	width: 80%;
	height: 10%;
	float: left;
	overflow: hidden;
}
#view {
	width: 80%;
	height: 100%;
	float: left;
	overflow: auto;
}

#save {
	width: 20%;
	height: 10%;
	float: left;
	overflow: hidden;
}

#index {
	width: 20%;
	height: 10%;
	float: left;
	overflow: hidden;
}


h1,p{
	text-align: center;
	color:#FF0000;
	font-weight: bold;
}

input.back{
	text-align: center;
	background-color: #FFA500;
	font-weight: bold;
}

.back{
	text-align: center;
}


